.App {
  display: grid;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  grid-template-areas:
    'hero hero hero'
    'hero hero hero'
    'hero hero hero';
}
